$selector: ".team-members";

#{$selector} {
  &__member {
    padding-bottom: rem(50);
    text-align: center;

    &-img {
      margin-bottom: rem(20);
      padding: 0 rem(45);
    }

    &-title {
      font-size: rem(24);
      margin-bottom: rem(10);
      text-align: center;
    }

    &-subtitle {
      font-size: rem(12);
      color: $brand-grey-dk;
      text-align: center;
    }
  }
}
