$selector: ".search";

#{$selector} {
  .main {
    padding-top: rem($page-content-top-padding);
    padding-bottom: rem($page-content-top-padding);
  }

  &__results {
    &-list {
      padding-bottom: rem(30);

      article {
        margin-bottom: rem(20);
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  &-form {
    display: flex;
    justify-content: flex-start;

    input {
      &[type=text] {
        height: rem(45);
        width: 100%;
      }
    }
  }
}
