/** Colors */
$brand-green: #adbf00;
$brand-grey-lt: #f5f5f5;
$brand-grey-md: #e5e5e5;
$brand-grey-dk: #707070;
$brand-blue: #10a9e1;
$brand-burgundy: #720342;
$brand-turquoise: #34b8b2;
$brand-black1: #111;
$brand-black2: #161615;
$white: #fff;
$body-font-colour: $brand-black1;

$base-font-size: 16;

$page-content-top-padding: 70;

$paragraph-margin-bottom: 40;

/** Box Model  */
$spacer: 2rem;
