$selector: ".social";

#{$selector} {
  display: flex;
  align-items: center;

  ul {
    @extend %no-bullet;

    display: flex;

    li {
      margin-left: rem(10);
    }

    a {
      color: $brand-black1;
    }
  }
}
